<header>
  <p class="slogan">Discover a new <span class="sound">sound</span></p>
  <ul class="features">
    <li>Millions of songs and clips</li>
    <li>Your favourite playlists</li>
    <li>Intelligent algorithms</li>
  </ul>
</header>
<main>
  <form class="login" action="/login" method="post">
    <fieldset>
      <p class="try-now">Try now!</p>

      <label for="login-username">Username</label>
      <input type="text" name="loginUsername" id="login-username">

      <label for="login-password">Username</label>
      <input type="password" name="loginPassword" id="login-password">

      <button type="submit">Log in</button>
    </fieldset>
  </form>
</main>
